<html>
  <head>
    <style>
      body {
        background: <%= color_choice %>;
      }
    </style>
  </head>
  <body>
    <form>
      <input type='text' name='guess' />
      <input type='submit' value='Guess!' />
    </form>
    <p>
      <%= message %>
      <%= display_count %>
    </p>

  </body>
</html>
